.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.movie-tag {
  color: white;
  padding: 6px 16px;
  border-radius: 4px;
  background: #fcbf49;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
